@media screen and (max-width: 640px) {

    html {
    font-size: 100%;
    }

    body {
    background: #393FD0;
    }

    .page-main{
        padding-left: 0;
        padding-right: 0;
    }


    .navbar {
        height: 60px;
    
        .checkbox {
            display: none;
        }
    
        .checkbox:checked ~ ul {
            left: 0;            
        }
    
        .checkbox:checked + .tabBox {
            opacity: 0;
        }
    
        .checklabel {
            display: block;
            float: right;
            //margin-top: 15px;
            margin-right: 1rem;
            margin-top: 1rem;
            cursor: pointer;
    
            img {
                width: 1.9rem;
                height: 1.9rem;
            }
    
        }
    
        .nav-ul {
            position: fixed;
            width: 94%;
            height: 100vh;
            background-color: #393FD0;
            ;
            top: 60px;
            left: -101%;
            transition: all .5s;
            z-index: 3;
            padding-top: 15rem;
    
            .nav-li {
                display: block;                              
                line-height: 60px;
                margin: 0;
    
                a {
                    color: #FFF;  
                    text-transform: uppercase;
                }
            }
    
        }
    
    }

    .logo-r {
        position: relative;
        text-align: center;
        margin-top: 50px;
        margin-bottom: 50px;
        z-index: 4;
    }
    
    .back-v {
        position: absolute;
        left: 15%;
        z-index: 4;
    }
    
    .back-a {
        position: absolute;
        left: 0;
        top: 28%;
        z-index: 1;
    }
    
    .back-c {
        position: absolute;
        right: 0;
        top: 25%;
        z-index: 1;
    }

    .login-success{
        display: none;
    }

    .login-success.active{
        display: block;
        position: relative;
        width: 30rem;
        margin: auto;
        background: #37D0C8;
        z-index: 2;
    }


    
  
    

    .tabBox {
        margin: auto;
        width: 30rem;
        position: relative;
        z-index: 2;

        .tab {
            overflow: hidden;
    
            .tablinks {
                background-color: rgba(58, 48, 97, 0.35);
                width: 52%;
                color: #FFF;
                float: left;
                border: none;
                outline: none;
                cursor: pointer;
                padding: 1rem 1rem;
                transition: 0.3s;
            }
    
            .tablinks:hover {
                background-color: #ddd;
            }
          
            .tablinks.active {
                background-color: rgba(58, 48, 97, 0.9);
                //opacity: 0.9;
            }
            #defaultOpen{
                margin-right: -2%;
                clip-path: polygon(0 0, 94% 0, 100% 100%, 0 100%);
            }
            
            #btnRegister{
                margin-left: -2%;
                clip-path: polygon(6% 0, 100% 0, 100% 100%, 0 100%);
            }
        }

        .tabcontent {
            background-color: rgba(58, 48, 97, 0.9);
            color: #FFF;
            display: none;
            padding: 1.5rem 1.5rem;
            border-top: none;

            label {
                margin-top: 1.5rem;
                margin-bottom: 0.7rem;
                display: inline-block;
            }

            form {
                background-color: transparent;
                border: none;
                color: rgb(255, 255, 255);

                input {
                    background-color: transparent;
                    border: none;
                    border-bottom: 1px solid #F5F5F5;
                    color: rgb(255, 255, 255);
                }

                .news{
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .switch {
                        position: relative;
                        display: inline-block;
                        width: 2.5rem;
                        height: 1rem;
                        margin-right: 0.8rem;

                        .form-checkbox {
                            opacity: 0;
                            width: 0;
                            height: 0;
                        }

                        .slider {
                            position: absolute;
                            cursor: pointer;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            background-color: #ccc;
                            -webkit-transition: .4s;
                            transition: .4s;
                        }
                    
                        .slider:before {
                            position: absolute;
                            content: "";
                            height: 1.3rem;
                            width: 1.3rem;
                            bottom: -0.13rem;
                            background-color: white;
                            -webkit-transition: .4s;
                            transition: .4s;
                        }

                        .form-checkbox:checked + .slider {
                            background-color: #2196F3;
                        }
                      
                        .form-checkbox:focus + .slider {
                            box-shadow: 0 0 1px #2196F3;
                        }
                      
                        .form-checkbox:checked + .slider:before {
                            -webkit-transform: translateX(1.3rem);
                            -ms-transform: translateX(1.3rem);
                            transform: translateX(1.3rem);
                        }

                        .slider.round {
                            border-radius: 1.5rem;
                        }
                      
                        .slider.round:before {
                            border-radius: 50%;
                        }
                    }
                }

                button{
                    display: block;
                    margin-top: 1rem;
                    border: none;
                    border-radius: 1.5rem;
                    width: 100%;
                    background: linear-gradient(90deg, #8DE7ED 2.31%, #2FCEC5 100%);
                }

                .forgotPass{
                    display: block;
                    margin-top: 1rem;
                    text-align: center;

                    a{
                        color: #FFF;
                    }
                }
            }
        }
    }

    .tabBox.disabled{
        display: none;
    }
}