.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m){

    * {
        font-family: Dosis;
    }
    html {
        font-size: 100%;
    }
    
    .login-index-index.page-layout-1column {
        background: #393FD0;
    }
    
    .page-main{
        padding-left: 0;
        padding-right: 0;
    }
}
