.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m){

    .tabBox {
        margin: auto;
        width: 30rem;
        position: relative;
        z-index: 2;

        .tabBox__tab {
            overflow: hidden;
    
            .tabBox__tablinks {
                background-color: rgba(58, 48, 97, 0.35);
                width: 52%;
                color: #FFF;
                float: left;
                border: none;
                outline: none;
                cursor: pointer;
                padding: 1rem 1rem;
                transition: 0.3s;
            }
    
            .tabBox__tablinks:hover {
                background-color: #ddd;
            }
          
            .tabBox__tablinks.active {
                background-color: rgba(58, 48, 97, 0.9);
                //opacity: 0.9;
            }
            #defaultOpen{
                margin-right: -2%;
                clip-path: polygon(0 0, 94% 0, 100% 100%, 0 100%);
            }
            
            #btnRegister{
                margin-left: -2%;
                clip-path: polygon(6% 0, 100% 0, 100% 100%, 0 100%);
            }
        }

        .tabBox__tabcontent {
            background-color: rgba(58, 48, 97, 0.9);
            color: #FFF;
            display: none;
            padding: 1.5rem 1.5rem;
            border-top: none;

            label {
                margin-top: 1.5rem;
                margin-bottom: 0.7rem;
                display: inline-block;
            }

            form {
                background-color: transparent;
                border: none;
                color: rgb(255, 255, 255);

                input {
                    background-color: transparent;
                    border: none;
                    border-bottom: 1px solid #F5F5F5;
                    color: rgb(255, 255, 255);
                }

                .tabBox__news{
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .tabBox__switch {
                        position: relative;
                        display: inline-block;
                        width: 2.5rem;
                        height: 1rem;
                        margin-right: 0.8rem;

                        .tabBox__form-checkbox {
                            opacity: 0;
                            width: 0;
                            height: 0;
                        }

                        .tabBox__slider {
                            position: absolute;
                            cursor: pointer;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            background-color: #ccc;
                            -webkit-transition: .4s;
                            transition: .4s;
                        }
                    
                        .tabBox__slider:before {
                            position: absolute;
                            content: "";
                            height: 1.3rem;
                            width: 1.3rem;
                            bottom: -0.13rem;
                            background-color: white;
                            -webkit-transition: .4s;
                            transition: .4s;
                        }

                        .tabBox__form-checkbox:checked + .tabBox__slider {
                            background-color: #2196F3;
                        }
                      
                        .tabBox__form-checkbox:focus + .tabBox__slider {
                            box-shadow: 0 0 1px #2196F3;
                        }
                      
                        .tabBox__form-checkbox:checked + .tabBox__slider:before {
                            -webkit-transform: translateX(1.3rem);
                            -ms-transform: translateX(1.3rem);
                            transform: translateX(1.3rem);
                        }

                        .tabBox__slider.round {
                            border-radius: 1.5rem;
                        }
                      
                        .tabBox__slider.round:before {
                            border-radius: 50%;
                        }
                    }
                }

                button{
                    display: block;
                    margin-top: 1rem;
                    border: none;
                    border-radius: 1.5rem;
                    width: 100%;
                    background: linear-gradient(90deg, #8DE7ED 2.31%, #2FCEC5 100%);
                }

                .tabBox__forgotPass{
                    display: block;
                    margin-top: 1rem;
                    text-align: center;

                    a{
                        color: #FFF;
                    }
                }
            }
        }
    }

    .tabBox.disabled{
        display: none;
    }

    .login-success{
        display: none;
    }

    .login-success.active{
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 30rem;
        height: 100%;
        margin: auto;
        background: #37D0C8;
        z-index: 2;
    }


}